<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weget.fuyan.fyp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="21" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.weget.fuyan.fyp.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.weget.fuyan.fyp.MainActivity"
            />
        <activity android:name="com.weget.fuyan.fyp.HomeActivity" />
        <activity
            android:name="com.weget.fuyan.fyp.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.weget.fuyan.fyp.ProfileActivity"
            android:launchMode="singleInstance"/>
        <activity android:name="com.weget.fuyan.fyp.UpdateProfileActivity" />
        <activity android:name="com.weget.fuyan.fyp.UpdatePasswordActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.weget.fuyan.fyp.UpdateEmailActivity" />
        <activity android:name="com.weget.fuyan.fyp.UpdateContactActivity" />
        <activity android:name="com.weget.fuyan.fyp.UploadImageActivity" />
        <activity
            android:name="com.weget.fuyan.fyp.CreateRequestActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true"/>
        <activity android:name="com.weget.fuyan.fyp.RequestDetailsActivity" />
        <activity android:name="com.weget.fuyan.fyp.MyRequestActivity">
            <intent-filter>
                <action android:name="request_page" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.weget.fuyan.fyp.ChatActivity" />
        <activity android:name="com.weget.fuyan.fyp.UserChatActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.weget.fuyan.fyp.SendBirdBlockedUserListActivity" />
        <activity android:name="com.weget.fuyan.fyp.SendBirdGroupChannelListActivity" />
        <activity android:name="com.weget.fuyan.fyp.SendBirdGroupChatActivity" />
        <activity android:name="com.weget.fuyan.fyp.SendBirdMemberListActivity" />
        <activity
            android:name="com.weget.fuyan.fyp.MyRequestFulfillerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true"/>
        <activity android:name="com.weget.fuyan.fyp.RequestFulfillerDetailsActivity"
            />
        <activity android:name="com.weget.fuyan.fyp.PaymentActivity" android:theme="@style/Theme.AppCompat.Dialog"
            android:noHistory="true"/>
        <activity android:name="com.weget.fuyan.fyp.MyFulfillActivity">
            <intent-filter>
                <action android:name="fulfill_page" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.weget.fuyan.fyp.MyFulfillRequestDetailsActivity" />
        <activity android:name="com.weget.fuyan.fyp.UpdateRequestActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <!--
     <activity android:name=".MainPage"></activity> ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <service android:name="com.weget.fuyan.fyp.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name="com.weget.fuyan.fyp.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.weget.fuyan.fyp.ForgotPasswordActivity" />
        <activity android:name="com.weget.fuyan.fyp.RequesterViewDetails"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.weget.fuyan.fyp.FulfillviewRequestDetails"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.weget.fuyan.fyp.PendingdetailsRequester"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name="com.weget.fuyan.fyp.PendingdetailsFulfiller"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name="com.weget.fuyan.fyp.MyfulfillDetails"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.weget.fuyan.fyp.bank_details"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.weget.fuyan.fyp.dispute"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.weget.fuyan.fyp.CompletedRequest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.weget.fuyan.fyp.update_bank_details"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>